$darkblue: #1b3448;
$blue: #0aa9ec;
$bglight: #f6f8fb;
$darkgrey: #1b3448;
$grey: #9eb0be;
$lightgrey: #e1e8ee;
$red: #fa5252;

$cubic: cubic-bezier(0.19, 0.08, 0.37, 1.2);
$shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08),
  0px 0px 6px 0px rgba(0, 0, 0, 0.02);
$radius: 6px;
