@import "@/app/styles/mixins.scss";
@import "@/app/styles/theme.scss";

.Card {
  @include flex-column;
  @include flex-space-between;
  padding: 16px;
  background-color: white;
  box-shadow: $shadow;
  width: 260px;
  height: 140px;
  padding: 24px;
  border-radius: $radius;
  margin: 8px;
  opacity: 0;
  animation: appear 0.4s cubic-bezier(0.57, 0.21, 0.69, 1.25) forwards;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.57, 0.21, 0.69, 1.25);
  border: 1px solid transparent;
  position: relative;
}

.Selected {
  border: 1px solid $blue;
}

.Container {
  width: 100%;
  @include flex-space-between;

  :nth-first-child {
    margin-bottom: 10px;
  }
}

.Name {
  @include flex-center-horizontal;
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 140px;
  display: block;
  overflow: hidden;
}

.Top {
  @include flex-center-horizontal;
}

.Icon {
  @include flex-center-both;
  margin-left: 8px;

  svg {
    fill: $lightgrey;
    width: 21px;
    height: 21px;
  }
}

.Value {
  font-size: 32px;
  color: $darkgrey;
  font-weight: 600;
  letter-spacing: -0.33px;
}

.Trend {
  @include flex-center-both;
  margin-left: 8px;

  svg {
    width: 125px;
    height: 40px;
  }
}

.Delete {
  @include flex-center-both;
  border-radius: 50%;
  padding: 12px;
  z-index: 3;
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: $darkblue;
  opacity: 0;
  animation: pop 0.2s $cubic forwards;
  animation-delay: 1000ms;

  svg {
    width: 14px;
    height: 14px;
    stroke: white;
    transform: rotate(45deg);
  }
}

@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
